@charset "utf-8";

/*
================================================================
    リセットCSS 
================================================================    
= */

/*! destyle.css v3.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */

/* Reset box-model and set borders */
/* ============================================ */

*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */

p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */

/**
 * Prevent vertical alignment issues.
 */

svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */

/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */

button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */

[type="checkbox"] {
  -webkit-appearance: checkbox;
  appearance: checkbox;
}

[type="radio"] {
  -webkit-appearance: radio;
  appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
}

button:disabled,
[type="button"]:disabled,
[type="reset"]:disabled,
[type="submit"]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */

:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */

option {
  padding: 0;
}

/**
 * Reset to invisible
 */

fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */

[type="search"] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Clickable labels
 */

label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */

[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */

/**
1. Correct table border color inheritance in all Chrome and Safari.
*/

table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}




/*
================================================================
    基本設定 
================================================================    
= */

body {
  font-family: "メイリオ", Meiryo;
  color: #434343;
  background-color: #f6f6f6;
}

a {
  color: #434343;
}

a:hover {
  color:#f6ac4d;
}


/*
================================================================
    ヘッダー 
================================================================    
= */

.header {
  width: 100%;
  height: 102px;
  background-color: #fff;
  border-bottom: 3px solid #f6ac4d;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
  padding-top: 25px;
}

.header__inner {
  width: 960px;
  height: 52px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

/* .global-nav {
  vertical-align: bottom;
} */

.global-nav__list {
  display: flex;
}

.global-nav__item {
  border-left: dotted 1px #737172;
  padding: 0 20px;
}

.global-nav__item + .global-nav__item + .global-nav__item + .global-nav__item {
  border-right: dotted 1px #737172;
}

.global-nav__link {
  font-size: 18px;
  font-weight: bold;
  
    
}

/*
================================================================
    メインページ基本設定
================================================================    
= */

.top__wrapp {
  display: flex;
  justify-content: space-between;
}

.top__wrapp-under {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.orange {
  background-color: #f6ac4d;
}

.orange--trans {
  background-color: rgba(246,172,77,0.9);
}

.pink {
  background-color: #e18c7c;
}

.pink--trans {
  background-color: rgba(225,140,124,0.9);
} 


.green {
  background-color: #acd598;
}

.green--trans {
  background-color: rgba(172,213,152,0.9);
}



/*
================================================================
    ピックアップ
================================================================    
= */

.main__wrapper {
  width: 960px;
  height: auto;
  margin: 30px auto 0 auto;
}

.top__pickup {
  width: 580px;
  height: 358px;
  background-color: #fff;
  border: 1px solid #dcdddf;
}

.pickup__thumb {
  width: 580px;
  height: 256px;
  position: relative;
}

.pickup__tag {
  background-color: rgba(246,172,77,0.9);
  padding: 0 10px;
  font-size: 14px;
  color: #fff;
  width: auto;
  height: 32px;
  line-height: 32px;
  position: absolute;
  top: 0;
  right: 0;
}

.pickup__list {
  padding: 15px 20px;
}

.pickup__link {
  font-size: 18px;
  font-weight: bold;
}

.pickup__date {
  font-size: 12px;
  font-weight: bold;
  color: #dcdddf;
}


/*
================================================================
    ランキング 
================================================================    
= */

.top__ranking {
  width: 348px;
  height: 360px;
}

.ranking__title {
  font-size: 18px;
  font-weight: bold;
  background: url(images/popular_icon.png) no-repeat;
  padding-left: 37px;
  border-bottom: 1px solid #dcdddf;
  height: 30px;
}

.ranking__item {
  width: 348px;
  height: 70px;
  border-bottom: 1px dotted #dcdddf;
  margin-top: 15px;
  padding-bottom: 14px;
}

.ranking__item:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}

.ranking__article {
  display: flex;
  
}

.ranking__thumb {
  margin-right: 10px;
  position: relative;
}

.ranking__namber {
  font-size: 12px;
  font-weight: bold;
  background-color: #434343;
  border: 1px solid #fff;
  color: #fff;
  width: 19px;
  height: 19px;
  display: inline-block;
  text-align: center;
  line-height: 19px;
  position: absolute;
  top: 0;
  left: 0;
}

.ranking__link {
  font-size: 13px;
  font-weight: bold;
}

.ranking__tag {
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  padding: 0 3px;
}

/*
================================================================
    サイド
================================================================    
= */

.top__side {
  width: 280px;
  height: auto;
}

.top__category {
  width: 280px;
  height: auto;
  background-color: #fff;
  padding: 10px;
  border: 10px solid #dcdddf;
  margin-bottom: 30px;
}

.category__logo {
  font-size: 18px;
  font-weight: bold;
  background: url(images/category_icon.png) no-repeat left 5px;
  padding-left: 25px;
  border-bottom: 1px dotted #dcdddf;
  margin-bottom: 10px;
}

.category__item {
  font-size: 13px;
  margin-bottom: 19px;
  line-height: 1;
} 

.category__item:last-child {
  margin-bottom: 0;
}







/*
================================================================
    新着 
================================================================    
= */

.top__new {
  width: 650px;
  height: auto;
  
}

.new__title {
  font-size: 22px;
  font-weight: bold;
  background: url(images/new_icon.png) no-repeat left 2px;
  padding-left: 30px;
  margin-bottom: 18px;
}

/* .new__list {
  border: 1px solid #dcdddf;
} */

.new__item {
  margin-bottom: 29px;
}

.new__item:first-child {
  margin-bottom: 27px;
}

.new__item:nth-child(2) {
  margin-bottom: 28px;
}

.new__article {
  display: flex;
  border: 1px solid #dcdddf;
}

.new__thumb {
  width:247px;
  height: 152px;
  position: relative;
}

.new__img--tag {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px 11px;
  position: absolute;
  top: 0;
  right: 0;
}

.new__explanation {
  width: auto;
  height: 152px;
  padding: 20px;
  background-color: #fff;
}

.new__heading {
  margin-bottom: 10px;
}

.new__link {
  font-size: 16px;
  font-weight: bold;
}

.new__date , .new__tag {
  color: #dcdddf;
  font-size: 12px;
  
  padding-left: 18px;
}

.watch {
  background: url(images/new_date.png) no-repeat left 0px;
  margin-right: 20px;
}

.bookmark {
  background: url(images/tag.png) no-repeat left 2px;
}

.new__text {
  margin-top: 10px;
  font-size: 13px;
  color: #565656;
  line-height: 21px;
}

.continue__link {
  color: #f6ac4d;
  text-decoration: underline;
}

.pagination {
  width: auto;
  height: 34px;

}

.pagination__list {
  display: flex;
  justify-content: flex-end;
}

.pagination__item {
  width: auto;
  height: 32px;
  background-color: #fff;
  border: 1px solid #dcdddf;
  margin-left: 10px;
}

.pagination__link {
  font-size: 16px;
  font-weight: bold;
  line-height: 32px;
  padding: 0 8px;
  display: block;
}

/*
================================================================
    フッター 
================================================================    
= */

.footer {
  width: 100%;
  height: 140px;
  background-color: #fff;
  border-top: 1px solid #dcdddf;
  padding: 20px 0;
  margin-top: 60px;

}

.footer__inner {
  width: 960px;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer__thumb {
  width: 218px;
  height: 52px;
  margin-bottom: 20px;
}

.footer__explanation {
  font-size: 13px;
  line-height: 21px;
}

.contact {
  width: 374px;
  height: auto;
}

.contact__heading {
  font-size: 16px;
  font-weight: bold;
}

.contact__text {
  font-size: 12px;
  margin-left: 10px;
}

.form {
  text-align: right;
}

.textarea {
  width: 372px;
  height: 35px;
  margin: 10px 0;
  border: 1px solid #dcdddf;
}

.btn {
  width: 127px;
  height: 30px;
  background-color: #7e7e7e;
  border: none;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}

.btn:hover {
  opacity: 0.8;
  cursor: pointer;
}